# Python
__pycache__/
*.py[cod]

# Virtual Environments
venv/
env/
virtual_env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Build files
build/
dist/
*.egg-info/

# Binary files
*.exe
*.bin

# OS files
.DS_Store
Thumbs.db